{% extends "base.html" %}

{% block content %}
<!-- Nav Bar -->
{% include 'navbar.html' %}

<!-- Header Section -->

<div class="container-fluid heading">
    <ul>
      <li>
        <img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" class="arrow left-arrow" onclick="backArrow()">
      </li>
      <li class="heading-text">
        <h1 id="month">{{ current_month }}</h1>
        <h1 id="year">{{ current_year }}</h1>
      </li>
      <li >
        <img src="https://cdn-icons-png.flaticon.com/512/32/32213.png" class="arrow right-arrow" onclick="nextArrow();">
      </li>
    </ul>
</div>

<!-- Expenses Table Div -->

<div class="container-fluid" style="padding-top:4%;" id="firstRow" >
  <div class="row">
    <div class="col expenses-table">
      <!-- Table Headers -->
      <h3>Expenses</h3>
      <table id="expensesTable" class="table">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Amount</th>
          <th></th>
        </tr>
        <!-- Processing existing values -->
        {% if current_items_expenses != null %}
          
            <tr>
          {% for item in current_items_expenses %}
          
              <td>
                {{ item["name"] }}
              </td>
              <td>
                {{ item["type"] }}
              </td>
              <td>
                {{ item["amount"] }}
              </td>
          
              
              <td><input type="button" value="X" class="btn btn-danger btn-circle" onclick="deleteRowExpenses(this)"/></td>
            </tr>
              {% endfor %}
        {% endif %}
        <!-- Form for sending new value -->
        <form name="expenses">
          <tr>
            <td>
              <input type="text" name="ExpensesName" class="form-control" required>
            </td>
            <td>
              <select class="form-select" name="ExpensesType" aria-label="Payment Type" required>
                <option ></option>
                <option value="Needs">Needs</option>
                <option value="Wants">Wants</option>
                <option value="Savings">Savings</option>
                </select>
            </td>
            <td>
              <input type="number" name="ExpensesAmount" class="form-control" required>
            </td>
            <td><input type="button" value="X" class="btn btn-danger btn-circle" onclick="deleteRowExpenses(this)"/></td>
          </tr>
      
        </table>
        <button type="submit" class="btn btn-primary btn-circle btn-xl" onclick="addRowExpenses()">+</button>
      </form>
    </div>
    <!-- Col for % -->
    <div class="col-sm-3 text-center dashboard-middle-section-padding">
      <div class="row-cols-1" style="display:none;">
        <h4>Needs</h4>
        <h4 class="precent-padding" id="Needs"></h4>
      </div>
      <div class="row-cols-1" style="display:none;">
        <h4>Wants</h4>
        <h4 class="precent-padding" id="Wants"></h4>
      </div>
      <div class="row-cols-1" style="display:none;">
        <h4>Savings</h4>
        <h4 class="precent-padding" id="Savings"></h4>
      </div>
    </div>
    <!-- Div for Pie Chart -->
    <div class="col  pie-chart">
      <div class="chart-container" style=" height:22vh; width:22vw">
        <canvas id="expensesPieChart"></canvas>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Income Table Div -->

<div class="container-fluid" style="padding-top:5%;">
  <div class="row">
    <div class="col" style="padding-left: 5%;padding-top: 50px;">
      <!-- Table Headers -->
      <h3>Income</h3>
      <table id="incomeTable" class="table">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Amount</th>
          <th></th>
        </tr>
        <!-- Processing existing values -->
        {% if current_items_income != null %}
            <tr>
          {% for item in current_items_income %}
          
              <td>
                {{ item["name"] }}
              </td>
              <td>
                {{ item["type"] }}
              </td>
              <td>
                {{ item["amount"] }}
              </td>
          
              
              <td><input type="button" value="X" class="btn btn-danger btn-circle" onclick="deleteRowIncome(this)"/></td>
            </tr>
              {% endfor %}
        {% endif %}
        <!-- Form for sending new value -->
        <form name="income">
          <tr>
            <td>
              <input type="text" name="IncomeName" class="form-control" required>
            </td>
            <td>
              <select class="form-select" name="IncomeType" aria-label="Payment Type" required>
                <option ></option>
                <option value="Salary">Salary</option>
                <option value="Side Hustle">Side Hustle</option>
                <option value="Second Job">Second Job</option>
                <option value="Other">Other</option>
                </select>
            </td>
            <td>
              <input type="number" name="IncomeAmount" class="form-control" required>
            </td>
            <td><input type="button" value="X" class="btn btn-danger btn-circle" onclick="deleteRowIncome(this)"/></td>
          </tr>
      
        </table>
        <button type="submit" class="btn btn-primary btn-circle btn-xl" onclick="addRowIncome()">+</button>
      </form>
    </div>
    <!-- Col for % -->
    <div class="col-sm-3 text-center dashboard-middle-section-padding">
      <div class="row-cols-1" style="display:none;">
        <h4>Salary</h4>
        <h4 class="precent-padding" id="Salary"></h4>
      </div>
      <div class="row-cols-1" style="display:none;">
        <h4>Side Hustle</h4>
        <h4 class="precent-padding" id="SideHustle"></h4>
      </div>
      <div class="row-cols-1" style="display:none;">
        <h4>Second Job</h4>
        <h4 class="precent-padding" id="SecondJob"></h4>
      </div>
      <div class="row-cols-1" style="display:none;">
        <h4>Other</h4>
        <h4 class="precent-padding" id="Other"></h4>
      </div>
    </div>
    <!-- Div for Pie Chart -->
    <div class="col pie-chart">
      <div class="chart-container" style=" height:22vh; width:22vw">
        <canvas id="incomePieChart"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}